#rounded {
  /* Apenas para dar um destaque para o elemento */
  background: #ff9900;
  color: #fff;
  padding: 20px;
  width: 120px;
  

  /* O CSS 3 */
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  
  -moz-box-shadow: 2px 4px 4px #666666;
  -webkit-box-shadow: 2px 4px 4px #666666;
  box-shadow: 2px 4px 4px #666666;
  
  /* A mágica! */
  behavior: url(PIE.htc);
}
